.btn{
   padding: 8px 20px; 
   border-radius: 2px;
   outline: none;
   border: none; 
   cursor: pointer;

}

.btn--primary{
    background-color: black;
    color:blue; 
    border: 1 px solid orange; 

}

.btn--outline{
    background-color: transparent;
    color:white; 
    border: 1 px solid orange; 
    transition: all 0.3s ease-out
    
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
    background: #fff;
    color:#242424;
    transition: 250ms;
}


